.App {
  text-align: center;
}
.form {
  textarea {
    width: 100%;
  }
  .btn {
    background-color: rgb(95, 201, 95);
    color: white;
    display: inline-block;
    padding: 20px;
  }
}
.subtitle-wrapper {
  font-size: 30px;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 500px;
  left: calc(50% - 250px);
  bottom: 50px;
}
.subtitle-wrapper .subtitle {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}
.video-container video {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  color: white;
}
